@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

#form input[type="email"] {
  width: 60%;
}

body {
  text-align: center;
  font-family: "Playfair Display", serif;
  padding-top: 35px;
}

#header {
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

#header-img {
  margin-left: 60px;
}

#nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: grey;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
}

.links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

a {
  text-decoration: none;
  color: white;
}

.flexbox-container {
  display: flex;
  margin: 20px auto;
  padding: 10px;
  width: 100%;
}

.icon {
  width: 20vw;
  justify-content: center;
}

div img {
  width: 100px;
}
.content {
  text-align: start;
}

.flexbox-container2 {
  display: flex;
  justify-content: center;
}

.flexbox-item {
  width: 200px;
  height: 300px;
  border: 2.5px solid;
  margin: 20px;
  text-align: center;
  flex-direction: column;
}

.flexbox-item h2 {
  background-color: grey;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 10px;
}

@media (min-width: 800px) {
  p {
    font-size: 18px;
  }
}
