@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,400;1,300&display=swap');

*{
font-family: 'Urbanist', sans-serif;
text-align:center;
text-decoration:none;

}

#about{
  color: #e0e0ce;
}

html{
  scroll-padding-top: 50px;
}

#navbar{
  display:flex;
  top:0; 
  left:0;
  width: 100%;
  background: #AD343E;
  position: fixed;
  justify-content:flex-end;
  
}

ul{
  list-style-type:none;
  display:flex;
  
}

ul li{
  padding-right:50px;
  
}

ul li a{
  color:black;
  border-radius: 20%;
}

nav a:hover{
  background-color:#FF2442;
  padding:15px;
}

#welcome-section{
  display:flex;
  height: 100vh;
  width: 100%;
  text-align:center;
  justify-content:center;
  flex-direction:column;
  background: #474747;
  
}

#work{
  padding-top:30px;
}

body{
  background: #f2af29;
  margin:0;
  padding:0;
}

#projects{
  display:grid;
  padding:50px;
  margin:0 auto;
  max-width:600px;
  grid-template-columns:1fr 1fr;
  grid-template-areas:
    "pro1 pro2"
    "pro3 pro4";
  gap:10px;  
  
}

#projects >* img{
  width: 250px;
  border-radius:5%;
}

.project{
  background:grey;
  margin:0 auto;
  border-radius:5%;
}

a p{
  color:white;
}

.project-tile1{
  grid-area:pro1;
}

.project-tile2{
  grid-area:pro2;
}
.project-tile3{
  grid-area:pro3;
}
.project-tile4{
  grid-area:pro4;
}

button {
  background:white;
  margin:40px auto;
  padding:10px;  
}

button:hover {
  background:#FFD371;
}

@media (max-width:700px){
  ul{
    flex-direction: column;
  }
  
  #projects{
    display:flex;
    flex-direction:column;
  }
  

}